<div fxLayout="row wrap" fxLayoutGap="16px">
  <div fxFlex="30.8" >
    <mat-card class="example-card">
    
      <mat-card-title>
        <div class="row">
          <h1>Anna Karenina</h1>
        </div>
  
        <div class="row">
        <div class="column">
        <img mat-card-lg-image src="assets/images/leo6.jpg"  style="height: 150px; width: 100px;" >
      </div>
      <div class="column" style="width: auto;">
       <p class="letter">
         AUTHOR NAME:LEO TOLSTOY
         <br><br>
         PRICE:200
         <br><br>
         CATEGORY:LOVE
         <br><br>
        COUNTORY:AMERICA
       </p>
     
      </div>
    </div>
      </mat-card-title>
  </mat-card>
   
   </div>
  
   <div fxFlex="30.8" >
    <mat-card class="example-card">
    
      <mat-card-title>
        <div class="row">
          <h1>Madame Bovary</h1>
        </div>
  
        <div class="row">
        <div class="column">
        <img mat-card-lg-image src="assets/images/leo5.jpg"  style="height: 150px; width: 100px;" >
      </div>
      <div class="column" style="width: auto;">
        <p class="letter">
          AUTHOR NAME:GUSTAV FLAUBERT  
          <br><br>
          PRICE:300
          <br><br>
          CATEGORY:LOVE
          <br><br>
         COUNTORY:AUSTRALIA
        </p>
     
      </div>
    </div>
      </mat-card-title>
  </mat-card>
   </div>
  
  
   <div fxFlex="30.8" >
    <mat-card class="example-card">
    
      <mat-card-title>
        <div class="row">
          <h1>War and Peace</h1>
        </div>
  
        <div class="row">
        <div class="column">
        <img mat-card-lg-image src="assets/images/leo2.jpg"  style="height: 150px; width: 100px;" >
      </div>
      <div class="column" style="width: auto;">
        <p class="letter">
          AUTHOR NAME:VLADIMIR NABOKOV  
          <br><br>
          PRICE:180
          <br><br>
          CATEGORY:LOVE
          <br><br>
         COUNTORY:BRAZIL
        </p>
     
      </div>
    </div>
      </mat-card-title>
  </mat-card>
    </div>
    <div fxFlex="30.8" >
      <mat-card class="example-card">
    
        <mat-card-title>
          <div class="row">
            <h1>Lolita </h1>
          </div>
    
          <div class="row">
          <div class="column">
          <img mat-card-lg-image src="assets/images/leo3.jpg"  style="height: 150px; width: 100px;" >
        </div>
        <div class="column" style="width: auto;">
          <p class="letter">
            AUTHOR NAME:MARK TWAIN
            <br><br>
            PRICE:450
            <br><br>
            CATEGORY:LOVE
            <br><br>
           COUNTORY:COLOMBIA
          </p>
       
        </div>
      </div>
        </mat-card-title>
    </mat-card>
   </div>
   <div fxFlex="30.8" >
    <mat-card class="example-card">
    
      <mat-card-title>
        <div class="row">
          <h1>The Adventures of Huckleberry Finn</h1>
        </div>
  
        <div class="row">
        <div class="column">
        <img mat-card-lg-image src="assets/images/leo4.jpg"  style="height: 150px; width: 100px;" >
      </div>
      <div class="column" style="width: auto;">
        <p class="letter">
          AUTHOR NAME:WILLIAM SHAKESPEARE
          <br><br>
          PRICE:350
          <br><br>
          CATEGORY:LOVE
          <br><br>
         COUNTORY:GUATEMALA
        </p>
     
      </div>
    </div>
      </mat-card-title>
  </mat-card>
   </div>
   <div fxFlex="30.8" >
    <mat-card class="example-card">
    
      <mat-card-title>
        <div class="row">
          <h1>Hamlet</h1>
        </div>
  
        <div class="row">
        <div class="column">
        <img mat-card-lg-image src="assets/images/leo5.jpg"  style="height: 150px; width: 100px;" >
      </div>
      <div class="column" style="width: auto;">
        <p class="letter">
          AUTHOR NAME:F.SCOTT FIZGERALD
          <br><br>
          PRICE:150
          <br><br>
          CATEGORY:LOVE
          <br><br>
         COUNTORY:LIBYA
        </p>
     
      </div>
    </div>
      </mat-card-title>
  </mat-card>
   </div>
   <div fxFlex="30.8" >
    <mat-card class="example-card">
    
      <mat-card-title>
        <div class="row">
          <h1>The Great Gatsby </h1>
        </div>
  
        <div class="row">
        <div class="column">
        <img mat-card-lg-image src="assets/images/leo6.jpg"  style="height: 150px; width: 100px;" >
      </div>
      <div class="column" style="width: auto;">
        <p class="letter">
          AUTHOR NAME:MARCEL PROUST
          <br><br>
          PRICE:240
          <br><br>
          CATEGORY:LOVE
          <br><br>
         COUNTORY:SUDAN
        </p>
     
      </div>
    </div>
      </mat-card-title>
  </mat-card>
   </div>
   <div fxFlex="30.8" >
    <mat-card class="example-card">
      <mat-card-title>
        <div class="row">
          <h1>In Search of Lost Time </h1>
        </div>
        <div class="row">
        <div class="column">
        <img mat-card-lg-image src="assets/images/leo3.jpg"  style="height: 150px; width: 100px;" >
      </div>
      <div class="column" style="width: auto;">
        <p class="letter">
          AUTHOR NAME:ANTON CHECKHOV
          <br><br>
          PRICE:360
          <br><br>
          CATEGORY:LOVE
          <br><br>
         COUNTORY:VANUATU
        </p>
     
      </div>
    </div>
      </mat-card-title>
  </mat-card>
</div>
<div fxFlex="30.8" >
  <mat-card class="example-card">
    <mat-card-title>
      <div class="row">
        <h1>The Stories of Anton Chekhov</h1>
      </div>
      <div class="row">
      <div class="column">
      <img mat-card-lg-image src="assets/images/leo4.jpg"  style="height: 150px; width: 100px;" >
    </div>
    <div class="column" style="width: auto;">
      <p class="letter">
        AUTHOR NAME:LEO TOLSTOY
        <br><br>
        PRICE:75
        <br><br>
        CATEGORY:LOVE
        <br><br>
       COUNTORY:NAURU
      </p>
   
    </div>
  </div>
    </mat-card-title>
</mat-card>
</div>
</div>
  
  
   
  
  
   
  
  
    