
.hight{
   height: 700px;
}
.box{
   height: 770px;
}

.center{
   text-align:center;
}

.green-color {
   color:green;
}
.clo{
   color: rgb(255, 123, 0);
}
.card{
    border: 6px;
    
}
.column{

   
    margin-top: 100px;
    text-align: center; 
    font-size: 400%;
   
    
}
.example-card{
    height:201px 
}