<div fxLayout="row" >
  <div fxFlex="40"  >


    <mat-card class="box" >
      <div class="center">
        <h1>Library Management System</h1>
      </div>
      <div class="center">
        <img mat-card-sm-image src="assets/images/login_head.png" style="height: 100px; width: 200px;">
      </div>

        <mat-card-content style="text-align: center; padding: 24px;">
          
          <mat-form-field class="example-full-width" style="width: 250px;">
            <input matInput placeholder="Username">
          </mat-form-field>

          <br>

          <mat-form-field class="example-full-width" style="width: 250px;">
            <input matInput placeholder="Password">
          </mat-form-field>

        </mat-card-content>
        <br>

        <button mat-stroked-button color="accent" class="clo"  style="width:50%;  margin-left: 146px;">Log in</button>
        <br><br><br><br><br><br><br>
        <div style="text-align: center;">
        <mat-icon>facebook</mat-icon>
        <mat-icon>instagram</mat-icon>
        <span class="material-icons green-color">whatsapp </span>
        </div>
        <div>
        <footer style="text-align: center;">
          <div class="footer-copyright">
            <div class="container">
            © 2022 Copyright Atandar
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
      </div>
      
     
    </mat-card>
   </div>


   <div fxFlex="60" >

    <img src="assets/images/lib.jpg"  style="height: 800px; width: 950px;">
            
       </div>
   
</div>    