
<h1>employee details</h1>
<a routerLink="/Add"><button class="btn-info"> ADD</button></a>
<table id="customers" >
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone_Number</th>
            <th>hire_date</th>
            <th>designation</th>
            <th>salary</th>
            <th>action</th>
            
          <tr>  
        </thead>
        <tbody>
            <tr *ngFor= "let data of Employeedata">
            <td>{{data.first_name}}</td>
            <td>{{data.last_name}}</td>
            <td>{{data.email}}</td>
            <td>{{data.phone_number}}</td>
            <td>{{data.hire_date}}</td>
            <td>{{data.designation}}</td>
            <td>{{data.salary}}</td>
             <td>
              <button class="btn-danger" (click)="deleteData(data.employee_id)"> Delete</button>
              <br>
              <button type="button" class="btn-up" (click)="edit(data)" >Edit</button>
              <br>
              <button class="search-div" mat-raised-button  > <mat-icon>add</mat-icon>Create </button>
            </td>
            
             </tr>

            </tbody>