.card{
    margin-left: 10px;
    margin-bottom: 10px;
    
  
}
.vl {
    border-left: 2px solid black;
    height: 200px;
    margin-left: 185px;
    padding-left: 100px;
    border-color: rgba(192, 53, 178, 0.596);
    text-align: center;
    
  }
.search{

    border-color: red;
}

.card{
    border: 2px solid;
    border-color:green;
    
}
.search{
    padding-left: 11px;
}
.chip{

        padding-top: 15px;
        position: absolute;
        top: 0px;
        right:40px;
}

.div{
    text-align: center;
    margin-top: 20px;
}
.text{
    color: rgb(8, 8, 8);
    margin-top: 20px;
    font-size: large;
}
.text1{
    color:rgb(8, 8, 8);
    margin-top: 20px;
    font-size: large;
}
   

.h1{
    color: black;
}

.value{
    color: green;
    font-size: 20px;
    margin-top: 10px;
}
.store{
    color: #ff4081;
}
.div1{
    color: blue;
    text-align: center;
    
}
.div3{
    color: black;
    font-size:18px;
}
.preview{
margin-left: 8px;
}
.settings{
    margin-left: 8px; 
}
.tag{
    margin-top: 20px;
    font-size: large;
}
.tag1{
    margin-top: 1px;
    font-size: large;
}
.tag2{
    margin-top: 12px;
    font-size: large;
}
.plc{
    margin-top: 100px;
   
}
.sec{
    font-size: large;
}