<a mat-button routerLink="login" routerLinkActive="active">Log in</a>
<a mat-button mat-raised-button routerLink="login2" routerLinkActive="active">Login 2</a>
<a mat-button mat-raised-button routerLink="bookview" routerLinkActive="active">book view</a>
<a mat-button mat-raised-button routerLink="examplescharts" routerLinkActive="active">charts</a>
<a mat-button mat-raised-button routerLink="examplespie" routerLinkActive="active">piecharts</a>
<a mat-button mat-raised-button routerLink="examplesgird" routerLinkActive="active">gird</a>
<a mat-button mat-raised-button routerLink="multi" routerLinkActive="active">multi</a>
<a mat-button mat-raised-button routerLink="screen" routerLinkActive="active">screen</a>
<a mat-button mat-raised-button routerLink="screentwo" routerLinkActive="active">screentwo</a>
<a mat-button mat-raised-button routerLink="examplecir" routerLinkActive="active">circle</a>
<a mat-button mat-raised-button routerLink="svgimg" routerLinkActive="active">svg</a>
<a mat-button mat-raised-button routerLink="studentdata" routerLinkActive="active">studentdata</a>
<a mat-button mat-raised-button routerLink="bookdatas" routerLinkActive="active">bookdatas</a>


<router-outlet></router-outlet>