.example-card{
    
        height: 200px;
        width: 200px;
        background-color:white;
        color: rgb(121, 48, 0);
        padding: 10px;
}
.color{
        background-color: rgb(230, 211, 217);
}
.color1{
        background-color: rgb(170, 222, 135);
        
}