<div fxLayout="row wrap" fxLayoutGap="10px">
    <div fxFlex="44.0" >
  <mat-card class="example-card" style="margin-bottom: 16px; height: 400px;">
      <mat-card-title>
          
            <div class="row">
                <h1>Line chart</h1>
              </div>

          <ejs-chart id="chart-container"    [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis'
               [title]='title' [tooltip]='tooltip'  [chartArea]='chartArea'  height="350">
              <e-series-collection>
                  <e-series [dataSource]='chartData' type='Line' xName='month' yName='y1' name='Y1' width="3" fill="orange" ></e-series>
                  <e-series [dataSource]='chartData' type='Line' xName='month' yName='y2' name='Y2' width="5" fill="red"></e-series>
              </e-series-collection>
          </ejs-chart>

          <div class="row">
            <div class="column">
        </div>
      </div>

    </mat-card-title>
    </mat-card>
</div>


<div fxFlex="44.0" >
  <mat-card class="example-card" style="margin-bottom: 16px;  height: 400px;">
      <mat-card-title>
          
            <div class="row">
                <h1>Area chart</h1>
              </div>

              <ejs-chart id="chart-container1" [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis'
              [title]='title' [tooltip]='tooltip'  [chartArea]='chartArea' height="350">
             <e-series-collection>
                 <e-series [dataSource]='chartData' type='Area' xName='month' yName='y1' name='Y1'  width="3" fill="Violet"></e-series>
                 <e-series [dataSource]='chartData' type='Area' xName='month' yName='y2' name='Y2' width="5" fill="DodgerBlue"></e-series>
             </e-series-collection>
         </ejs-chart>

          
          <div class="row">
            <div class="column">
        </div>
      </div>

    </mat-card-title>
    </mat-card>
</div>


<div fxFlex="44.0" >
    <mat-card class="example-card" style="margin-bottom: 16px;  height: 400px;">
        <mat-card-title>
            
              <div class="row">
                  <h1>column chart</h1>
                </div>
  
                <ejs-chart id="chart-container2" [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis'
                [title]='title' [tooltip]='tooltip'  [chartArea]='chartArea' height="350">
               <e-series-collection>
                   <e-series [dataSource]='chartData' type='Column' xName='month' yName='y1' name='Y1' width="3" fill="SlateBlue"></e-series>
                   <e-series [dataSource]='chartData' type='Column' xName='month' yName='y2' name='Y2' width="5" fill="DodgerBlue"></e-series>
               </e-series-collection>
           </ejs-chart>
            
            <div class="row">
              <div class="column">
          </div>
        </div>
  
      </mat-card-title>
      </mat-card>
  </div>
  

  <div fxFlex="44.0" >
    <mat-card class="example-card" style="margin-bottom: 16px;  height: 400px;">
        <mat-card-title>
            
              <div class="row">
                  <h1>Stacked Column</h1>
                </div>
  
                <ejs-chart id="chart-container3" [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis'
                [title]='title' [tooltip]='tooltip' [chartArea]='chartArea' height="350">
               <e-series-collection>
                   <e-series [dataSource]='chartData' type='StackingColumn' xName='month' yName='y1' name='Y1'  width="3" fill="green"></e-series>
                   <e-series [dataSource]='chartData' type='StackingColumn' xName='month' yName='y2' name='Y2'  width="5" fill="yellow"></e-series>
               </e-series-collection>
           </ejs-chart>
            
            <div class="row">
              <div class="column">
          </div>
        </div>
  
      </mat-card-title>
      </mat-card>
  </div>
  </div>
  