#control_wrapper {
    max-width: 246px;
    margin: 30px auto;
    padding-top: 50px;
}
.control-section {
    margin: 25px auto;
}
.drop{
   
    height: 208px;
    margin: 0px auto;
    width:250px;
    padding-top: 40px;
}
.dropdown{
    margin-top: 20px;
}





.radiobutton-control {
        margin-left: 21%;
        margin-top: 20px;
        margin-bottom:35px;
    }



    .checkbox-control {
        margin-left: 25%;
        margin-top: 8%;
    }

    .control-section {
        min-height: 200px;
    }


.control-section .row {
    margin: 20px 0;
}

.radiobutton-control h4 {
    font-size: 18px;
}

.e-bigger .radiobutton-control h4 {
    font-size: 20px;
}

