
    <div class="row">
        <div class="col-md-6"> 
        <ejs-circulargauge (load)='load($event)' (loaded)='loaded($event)'  id='range-container'
            #circulargauge='' [title]='title' [titleStyle]='titleStyle'>
            <e-axes>
                <e-axis minimum=0 radius='90%' maximum=100 startAngle=200 endAngle=160 [majorTicks]='majorTicks'
                    [labelStyle]='labelStyle' [lineStyle]='lineStyle' [minorTicks]='minorTicks' [annotations]='annotaions'
                    [ranges]='ranges' [pointers]='pointers'>
                </e-axis>
            </e-axes>
        </ejs-circulargauge>
    </div>
    </div>
        